html {
    background: url('assets/background.jpg');
}

div.keyboard {
    width: 1500px;
    margin: auto;
}

div.keys {
    background-color: gray;
    display: inline-block;
    border: 5px solid black;
    padding: 20px 0;
    width: 100px;
    font-size: 40px;
    text-align: center;
    color: white;
    margin: 300px 30px 0 30px;
    box-sizing: border-box; 
}

div.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

span.sound{
    margin: 10px 0 0 0;
    display: block;
    color: yellow;
    font-size: 10px;
}